.expercience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.expercience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}
.expercience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.expercience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.expercience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.expercience__details {
  display: flex;
  gap: 1rem;
}
.expercience_icons {
  margin-top: 6px;
  color: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .expercience__container {
    grid-template-columns: 1fr;
  }
  .expercience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .expercience__content {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .expercience__container {
    gap: 1rem;
  }
  .expercience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
